
.markdown-header h1 {
    font-size: 3em;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    font-family: 'Vollkorn', arial, serif;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
}

.markdown h1 {
    font-size: 1.6em;
}

.markdown h2 {
    font-size: 1.5em;
}

.markdown h3 {
    font-size: 1.4em;
}

.markdown h4 {
    font-size: 1.3em;
}

.markdown h5 {
-    font-size: 1.2em;
}

.markdown h6 {
    font-size: 1.1em;
}

.markdown {
    margin-bottom: 1em;
    /* font-family: 'Josefin Sans Std Light', arial, serif; */
    font-size: 1.15em;
    font-family: 'PT Sans', arial, serif;
}

.markdown p {
    text-indent: 1em;
    font-size: 1.05em;
}

.markdown table {
  	border-width: 0px 1px 1px 0px;
	border-spacing: 0px;
	border-style: solid;
        margin-left: 2em;
}

.markdown table td {
        border-width: 1px 0px 0px 1px;
        border-spacing: 0px;
        border-style: solid;
        padding: 0.5em;
}

.markdown table thead tr th {
        border-width: 1px 0px 0px 1px;
        border-spacing: 0px;
        border-style: solid;
        font-weight: bold;
        padding: 0.5em;
}

.markdown table caption {
   text-align: center;
/*   font-weight: bold; */
    font-family: 'PT Sans Caption', arial, serif;   
   font-size: 1.2em;
}

.markdown code {
   background-color: #EAEAEA;
   border: 1px solid #0B8C8F;
   display: block;
   padding: 1em;
   margin: 0.2em;
   font-family: 'Droid Sans Mono', monospace;
}

.markdown blockquote {
   background-color: #EAEAEA;
   border: 1px solid black;
}

.markdown ul {
   margin-left: 2em;
   list-style-type: disc;
}

.markdown ul li {
   list-style-type: disc;
}

.markdown ol li {
   margin-left: 2em;
   list-style-type: decimal;
}
