.pad {
  padding: 0.5em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Vollkorn', arial, serif;
    color: #AE0345;    
    font-style: normal;
    font-weight: normal;
}

#toc ul, #toc ol {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.headerstyle {
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.pullleft {
  margin-left:0px;
}

.grab {
  border-radius: 6px;
  border: 1px solid #00477A;
}

html, body {background-color: #ABC; min-height: 100%;}
