.maincontent {
    border: 1px solid #C7C7C7;
    border-radius: 5px 5px 5px 5px;
    background-color: #E2E2E2;
}

.tocbox {
    border: 1px solid #2550A0;
    width: auto;
    float: left;
    background-color: #F1F1F1;
    margin: 0.5em;
}

.tochead {
    text-align: center;
}

.clear {clear: both;}

.wikititle {font-size: 3em;}
.tagline {font-size: 1.5em;}
