    <script src="/jquery-nsm_TOC.js"></script>
    <script>
    $(function() {
       var toc=$('<div class="toc" id="toc"></div>');
       var md = $('div[class~="markdown"]');

       if (md.find("h1").html()) /*check if we have an h1, if not, no TOC for you*/
       {
         md.prepend('<div class="clear"></div>');
         md.prepend(toc);
         md.nsm_TOC({append_toc: true, toc_el: toc, hash_prefix: 'head-'});
       }
    }); 
    </script>
