        <div class="main mod simpleExt">
            <div class="line">
                <h1>[% entry.article_revision.title %]</h1>
                <div class="leftCol">Last Updated On: [% entry.created %]</div>
                <div class="rightCol">Updated By: [% entry.address %]</div>
            </div>
            <div class="line mod simpleExt">[% markdown_content %]</div>
        </div>
