        <div class="pagecontent">
            <div class="pageheader">
                <h1>[% entry.article_revision.title %]</h1>
                <div class="updated">Last Updated On: [% entry.article_revision.updated %]</div>
                <div class="editor">Updated By: [% entry.article_revision.address %]</div>
                <div class="clear"></div>
            </div>
            <div class="content boxed">[% markdown_content %]</div>
        </div>
